<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Status</h3>
	</div>
    <div class="list-group">
        <a href="{{ path('statuses') }}" class="list-group-item">All</a>
        <a href="{{ path('statuses_new') }}" class="list-group-item">Add New</a>
    </div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Configs</h3>
	</div>
    <div class="list-group">
        <a href="{{ path('settings') }}" class="list-group-item">All</a>
        <a href="{{ path('settings_new') }}" class="list-group-item">Add New</a>
    </div>
</div>