<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Sources</h3>
	</div>
    <div class="list-group">
        <a href="{{ path('sources') }}" class="list-group-item">All</a>
        <a href="{{ path('sources_new') }}" class="list-group-item">Add New</a>
    </div>
</div>