<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Territories</h3>
	</div>
    <div class="list-group">
        <a href="{{ path('territories') }}" class="list-group-item">All</a>
        <a href="{{ path('territories_new') }}" class="list-group-item">Add New</a>
        <a href="{{ path('territories_map') }}" class="list-group-item">Map</a>
    </div>
</div>