{% extends 'UCrmCoreBundle::layouts/main.html.twig' %}

{% block head -%}
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{ googleApi.value }}&amp;sensor=true">
    </script>
    <script type="text/javascript" src="{{ asset('bundles/ucrmcore/js/maps.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var territory = {{ entity.coords|raw }},
                Map = new FLT.Map({
                    sel: '#territory_map', 
                    shapes: [territory],
                    mapCenter: function() {    
                        var center = FLT.Utility.centerOf(territory);
                        return new google.maps.LatLng(center.lb, center.mb);
                    }
                });
        });
    </script>
{% endblock %}

{% block leftside -%}
    {% include 'UCrmCoreBundle::Territory/left-nav.html.twig' %}
{% endblock %}

{% block body -%}
    <div class="top-btns">
        
    </div>
    <div class="page-header">
        <h1>Territory {{ entity.code }}</h1>
    </div>
    <div id="territory_map"></div>
{% endblock %}
