<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">People</h3>
	</div>
    <div class="list-group">
        <a href="{{ path('people') }}" class="list-group-item">All</a>
        <a href="{{ path('people_new') }}" class="list-group-item">Add New</a>
    </div>
</div>